name: Manual workflow

on:
  issues:
    types: closed

jobs:
  label_issues:
    if: "!contains( github.event.issue.labels.*.name, 'bug')"
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Label closed issues
        uses: andymckay/labeler@e6c4322d0397f3240f0e7e30a33b5c5df2d39e90
        with:
          add-labels: "triage"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
#       - name: Create comment
#         uses: peter-evans/create-or-update-comment@v1
#         with:
#           issue-number: github.event.issue.number
#           body: |
#             This is a multi-line test comment
#             - With GitHub **Markdown** :sparkles:
#           reactions: '+1'
#           token: ${{ secrets.GITHUB_TOKEN }}
      - name: Add Comment to Issue
        uses: jdvr/action-add-comment@v1.0.1
        with:
          comment: |
            This is a multi-line test comment
            - With GitHub **Markdown** :sparkles:
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
