name: Manual workflow

on:
  issues:
    types: closed

jobs:
  label_issues:
    if: "!contains( github.event.issue.labels.*.name, 'bug')"
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Label closed issues
        uses: andymckay/labeler@e6c4322d0397f3240f0e7e30a33b5c5df2d39e90
        with:
          add-labels: "Needs Close Explanation and Label"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Create comment
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.issue.number }}
          body: \@${{ github.event.sender.login }} Thank you for resolving and closing this support issue. 
                Please add a Resolved label (Bug, Advice, etc.) and a comment briefly explaining the solution.
                Remember to link to any resulting issues in the mantid or mslice repos.
                
                To avoid this notification in future, please add a Resolved label before closing.
